#droite {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://static.vecteezy.com/system/resources/previews/006/230/864/original/japanese-style-element-background-free-vector.jpg);
  background-size: cover;
}


#droite .recommandation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 350px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
  background-image:url("https://upload.wikimedia.org/wikipedia/en/1/11/Vol_1_-_The_Boy_With_the_Golden_Legs.jpg");
  background-size: cover;
}
.carousel__item:nth-child(2) {
  background-image:url("https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81H6XLK6HJL.jpg");
  background-size: cover;
}
.carousel__item:nth-child(3) {
  background-image:url("https://static.fnac-static.com/multimedia/Images/FR/NR/dd/23/12/1188829/1507-1/tsp20230222090152/Vagabond.jpg");
  background-size: cover;
}
.carousel__item:nth-child(4) {
  background-image:url("https://www.manga-news.com/public/images/series/riku-do-1-kaze.jpg");
  background-size: cover;
}
.carousel__item:nth-child(5) {
  background-image:url("https://www.manga-news.com/public/images/series/.kingdom-1-meian_large.jpg");
  background-size: cover;
}
.carousel__item:nth-child(6) {
  background-image:url("https://www.manga-news.com/public/images/series/.ippo_01_large.jpg");
  background-size: cover;
}
.carousel__item:nth-child(7) {
  background-image:url("https://www.glenat.com/sites/default/files/images/livres/couv/9782723495615-T.jpg");
  background-size: cover;
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}